DB_NAME=testdb
DB_URL=jdbc:h2:mem:testdb
DB_USERNAME=sa
DB_PASSWORD=easypassword
DB_ROOT_PASSWORD=moreadvancedpassword
DB_DRIVER_CLASS_NAME=org.h2.Driver

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=mydb

JWT_SECRET=your-jwt-secret
JWT_EXPIRATION=1d

LOGGING_LEVEL_ROOT=INFO
LOGGING_FILE_NAME=logs/app.log
LOGGING_PATTERN_CONSOLE=%d{yyyy-MM-dd HH:mm:ss} [%thread] [transactionId=%X{transactionId}] %-5level %logger{36} - %msg%n
LOGGING_PATTERN_FILE=%d{yyyy-MM-dd HH:mm:ss} [transactionId=%X{transactionId}] %-5level %logger{36} - %msg%n

CORRELATION_ID_HEADER=X-Correlation-Id

ACTIVEMQ_BROKER_URL=tcp://192.168.1.210:9876
ACTIVEMQ_USER=admin
ACTIVEMQ_PASSWORD=secret
APP_TRAINER_WORKLOAD_QUEUE_NAME=trainer-workload

GF_SECURITY_ADMIN_PASSWORD=change-me
GF_USERS_ALLOW_SIGN_UP=false
GF_SERVER_DOMAIN=localhost
GF_LOG_MODE=console file
GF_LOG_FILTERS=alerting.notifier.slack:debug alertmanager:debug ngalert:debug
